html, body, #container {
  margin: 0;
  padding: 0;
  height: 100%;
}

#container {
  display: flex;
  flex-direction: column;
}

header, footer {
  flex: 0 0 100px;
}

.content {
  flex: 1 1 auto;
  display: flex;
}

.content > video {
  flex: 0 0 48%;
}